<!DOCTYPE>
<html lang="en">
    <head>
        <title>About</title>
        <link rel ="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Minh Duc. It uses data from mapbox.com and weather.com</p>
            <img src = "/img/pulisic.png" >
        </div>
        {{>footer}}

    </body>
</html>